In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import datetime as dt

In [2]:
state_turnover_perc_change = pd.read_excel("850104.xlsx", sheet_name="Data1")
industry_turnover_perc_change = pd.read_excel("850102.xlsx", sheet_name="Data1")

state_turnover_perc_change = state_turnover_perc_change.drop(labels=range(0, 10), axis=0)
state_turnover_perc_change

,Unnamed: 0,% change from preceding month ; New South Wales ; Total (Industry) ;,% change from preceding month ; Victoria ; Total (Industry) ;,% change from preceding month ; Queensland ; Total (Industry) ;,% change from preceding month ; South Australia ; Total (Industry) ;,% change from preceding month ; Western Australia ; Total (Industry) ;,% change from preceding month ; Tasmania ; Total (Industry) ;,% change from preceding month ; Northern Territory ; Total (Industry) ;,% change from preceding month ; Australian Capital Territory ; Total (Industry) ;,% change from preceding month ; Total (State) ; Total (Industry) ;,...,% change from preceding month ; Total (State) ; Total (Industry) ;.1,% change from preceding month ; New South Wales ; Total (Industry) ;.2,% change from preceding month ; Victoria ; Total (Industry) ;.2,% change from preceding month ; Queensland ; Total (Industry) ;.2,% change from preceding month ; South Australia ; Total (Industry) ;.2,% change from preceding month ; Western Australia ; Total (Industry) ;.2,% change from preceding month ; Tasmania ; Total (Industry) ;.2,% change from preceding month ; Northern Territory ; Total (Industry) ;.2,% change from preceding month ; Australian Capital Territory ; Total (Industry) ;.2,% change from preceding month ; Total (State) ; Total (Industry) ;.2
10,1982-05-01 00:00:00,4,1.6,1.3,3,6.8,-1.3,NaN,0.4,3,...,0.3,-0.2,0.6,0.4,1.3,0.4,0.4,NaN,0.2,0.3
11,1982-06-01 00:00:00,-5.1,-4.8,0.3,-3.7,-5.4,-1.7,NaN,-3.5,-4,...,1,-0.2,0.8,0.4,1.5,0.4,0.4,NaN,0.5,0.4
12,1982-07-01 00:00:00,2.5,3.9,4.3,6.8,5,6.7,NaN,1.9,3.8,...,-0.2,-0.2,0.8,0.3,1.5,0.4,0.4,NaN,0.8,0.4
13,1982-08-01 00:00:00,-3.7,-4.1,-2.7,-2.6,-5,-5.5,NaN,-1.7,-3.8,...,0.8,-0.3,1,0.1,1.6,0.4,0.2,NaN,1.4,0.4
14,1982-09-01 00:00:00,2.2,3.9,3.3,1.6,3.9,1.2,NaN,3.8,2.9,...,0,-0.4,1.1,0,1.7,0.4,0,NaN,1.8,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2021-08-01 00:00:00,-4,-3.5,-2.5,4.8,0.7,-3,-4,-20.7,-2.7,...,-1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,2021-09-01 00:00:00,3.9,-1.4,4.4,1.2,1.9,1.3,-4,-12.4,1.9,...,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,2021-10-01 00:00:00,18.2,8,4.1,4.5,5.8,4.4,2.4,29.3,9.8,...,4.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,2021-11-01 00:00:00,9.5,24.8,3.2,5.2,4,6.6,-4.9,23.3,10.9,...,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,2021-12-01 00:00:00,15.8,13.3,19.6,15.9,18,17.9,14.2,14.1,16.1,...,-4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
industry_turnover_perc_change = industry_turnover_perc_change.drop(labels=range(0, 10), axis=0)
industry_turnover_perc_change

,Unnamed: 0,% change from preceding month ; Total (State) ; Food retailing ;,% change from preceding month ; Total (State) ; Household goods retailing ;,"% change from preceding month ; Total (State) ; Clothing, footwear and personal accessory retailing ;",% change from preceding month ; Total (State) ; Department stores ;,% change from preceding month ; Total (State) ; Other retailing ;,"% change from preceding month ; Total (State) ; Cafes, restaurants and takeaway food services ;",% change from preceding month ; Total (State) ; Total (Industry) ;,% change from preceding month ; Total (State) ; Food retailing ;.1,% change from preceding month ; Total (State) ; Household goods retailing ;.1,...,% change from preceding month ; Total (State) ; Other retailing ;.1,"% change from preceding month ; Total (State) ; Cafes, restaurants and takeaway food services ;.1",% change from preceding month ; Total (State) ; Total (Industry) ;.1,% change from preceding month ; Total (State) ; Food retailing ;.2,% change from preceding month ; Total (State) ; Household goods retailing ;.2,"% change from preceding month ; Total (State) ; Clothing, footwear and personal accessory retailing ;.2",% change from preceding month ; Total (State) ; Department stores ;.2,% change from preceding month ; Total (State) ; Other retailing ;.2,"% change from preceding month ; Total (State) ; Cafes, restaurants and takeaway food services ;.2",% change from preceding month ; Total (State) ; Total (Industry) ;.2
10,1982-05-01 00:00:00,-1,6.3,7.4,9.2,1.4,-0.1,3,1,-0.7,...,-1.1,-1,0.3,0.7,0.2,-0.2,0.4,0,-0.3,0.3
11,1982-06-01 00:00:00,0.8,-3.5,-9.3,-11.7,-3.8,-3.9,-4,2.1,1.1,...,0.9,1.3,1,0.9,0.2,0,0.5,0,-0.2,0.4
12,1982-07-01 00:00:00,4,4.1,2.5,3.4,5.1,3,3.8,0.5,0.7,...,-0.6,-2.7,-0.2,0.9,0.1,0,0.4,0.1,0,0.4
13,1982-08-01 00:00:00,-4.5,-1.5,-9.5,-4.5,-1.1,-2.1,-3.8,-0.9,-0.1,...,0.5,0.4,0.8,0.9,0,0.1,0.2,0.1,0.2,0.4
14,1982-09-01 00:00:00,3.2,-0.1,6.5,6.1,0.9,3.2,2.9,1.6,0.3,...,0.1,1.1,0,0.9,-0.1,0.4,-0.2,0.1,0.7,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2021-08-01 00:00:00,1.5,-2.7,-20.1,-21.4,0.8,-6.6,-2.7,2.1,-2.3,...,0.8,-7,-1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,2021-09-01 00:00:00,-1.8,5.4,9.8,10.2,1.9,4.7,1.9,-1.4,4.3,...,2.1,5,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,2021-10-01 00:00:00,4,10.8,34.5,31.3,6,16.2,9.8,-0.5,4.5,...,2.2,12.3,4.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,2021-11-01 00:00:00,-4,18.8,49.1,41,18.2,7.8,10.9,-2.5,11.6,...,7.3,9.3,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,2021-12-01 00:00:00,19.8,6,27.6,31.3,14,8.5,16.1,2.2,-9.2,...,-4,-0.7,-4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
covid_cases_df = pd.read_csv ('cases_daily_state.csv')
#convert Date to datetime format
covid_cases_df["Date"] = pd.to_datetime(covid_cases_df["Date"])
covid_cases_df.head()

        Date  NSW  VIC  QLD   SA   WA  TAS   NT  ACT
0 2020-01-25    3    1  0.0  0.0  0.0    0  0.0  0.0
1 2020-01-26    0    0  0.0  0.0  0.0    0  0.0  0.0
2 2020-01-27    1    0  0.0  0.0  0.0    0  0.0  0.0
3 2020-01-28    0    0  0.0  0.0  0.0    0  0.0  0.0
4 2020-01-29    0    2  2.0  0.0  0.0    0  0.0  0.0

In [5]:
covid_cases_df.set_index('Date', inplace=True)
covid_cases_df.index = pd.to_datetime(covid_cases_df.index)
monthly_cases_df = covid_cases_df.resample('M').sum()
monthly_cases_df.head()

             NSW   VIC    QLD     SA     WA  TAS    NT   ACT
Date
2020-01-31   222   619   46.0   31.0   34.0    2   2.0   5.0
2020-02-29   185   933   71.0   25.0   14.0    3   6.0   4.0
2020-03-31  2094  1577  764.0  340.0  379.0   74  29.0  83.0
2020-04-30   328   797  103.0   26.0   51.0   79   0.0   7.0
2020-05-31   184  1079   30.0   11.0   68.0    7   2.0   3.0

In [6]:
monthly_cases_df
monthly_cases_df.reset_index()

,Date,NSW,VIC,QLD,SA,WA,TAS,NT,ACT
0,2020-01-31,222,619,46.0,31.0,34.0,2,2.0,5.0
1,2020-02-29,185,933,71.0,25.0,14.0,3,6.0,4.0
2,2020-03-31,2094,1577,764.0,340.0,379.0,74,29.0,83.0
3,2020-04-30,328,797,103.0,26.0,51.0,79,0.0,7.0
4,2020-05-31,184,1079,30.0,11.0,68.0,7,2.0,3.0
5,2020-06-30,205,1195,24.0,9.0,22.0,3,1.0,0.0
6,2020-07-31,378,7963,33.0,16.0,33.0,13,1.0,2.0
7,2020-08-31,242,4385,49.0,12.0,32.0,9,2.0,5.0
8,2020-09-30,174,1080,27.0,6.0,47.0,7,1.0,2.0
9,2020-10-31,253,772,33.0,34.0,89.0,12,7.0,5.0
10,2020-11-30,202,644,35.0,48.0,54.0,13,11.0,3.0
11,2020-12-31,354,789,55.0,20.0,38.0,11,13.0,2.0
12,2021-01-31,2735,3986,59.0,26.0,31.0,1,15.0,84.0
13,2021-02-28,2858,4113,54.0,47.0,13.0,0,14.0,80.0
14,2021-03-31,2963,3571,134.0,46.0,29.0,0,6.0,77.0
15,2021-04-30,3203,4225,90.0,80.0,63.0,1,58.0,81.0
16,2021-05-31,3010,4352,78.0,28.0,9.0,1,13.0,60.0
17,2021-06-30,2911,4084,88.0,46.0,23.0,0,18.0,63.0
18,2021-07-31,5258,4503,97.0,54.0,25.0,0,11.0,78.0
19,2021-08-31,18018,5521,79.0,19.0,31.0,0,11.0,356.0
20,2021-09-30,22236,17052,54.0,30.0,11.0,0,14.0,404.0
21,2021-10-31,9099,38428,58.0,21.0,5.0,1,15.0,459.0
22,2021-11-30,7165,24010,48.0,32.0,20.0,2,59.0,281.0
23,2021-12-31,104894,45264,11756.0,10124.0,36.0,549,271.0,1922.0
24,2022-01-31,587388,376470,277724.0,56914.0,285.0,17144,11018.0,20850.0
25,2022-02-28,30085,21725,13217.0,4021.0,36.0,1070,1228.0,1055.0
26,2022-03-31,33426,20734,12897.0,4135.0,37.0,1128,1035.0,1043.0
27,2022-04-30,33829,25260,12556.0,4609.0,46.0,1275,1079.0,1375.0
28,2022-05-31,43443,25446,15289.0,4782.0,42.0,1350,1085.0,1182.0
29,2022-06-30,42887,29166,10332.0,3070.0,9.0,1222,256.0,992.0
30,2022-07-31,38625,21728,10953.0,3707.0,6.0,1489,412.0,1246.0
31,2022-08-31,45098,51356,11174.0,4274.0,8.0,2223,594.0,1305.0
32,2022-09-30,30062,44155,18000.0,4506.0,2.0,1406,481.0,1039.0
33,2022-10-31,20293,34808,9581.0,4024.0,3.0,1218,404.0,938.0
34,2022-11-30,25870,37994,20566.0,2921.0,15.0,1379,594.0,1508.0
35,2022-12-31,34759,40127,22069.0,3715.0,6.0,1583,352.0,1078.0

In [7]:
monthly_cases_df['Total'] = monthly_cases_df.sum(axis=1)
monthly_cases_df.reset_index()

,Date,NSW,VIC,QLD,SA,WA,TAS,NT,ACT,Total
0,2020-01-31,222,619,46.0,31.0,34.0,2,2.0,5.0,961.0
1,2020-02-29,185,933,71.0,25.0,14.0,3,6.0,4.0,1241.0
2,2020-03-31,2094,1577,764.0,340.0,379.0,74,29.0,83.0,5340.0
3,2020-04-30,328,797,103.0,26.0,51.0,79,0.0,7.0,1391.0
4,2020-05-31,184,1079,30.0,11.0,68.0,7,2.0,3.0,1384.0
5,2020-06-30,205,1195,24.0,9.0,22.0,3,1.0,0.0,1459.0
6,2020-07-31,378,7963,33.0,16.0,33.0,13,1.0,2.0,8439.0
7,2020-08-31,242,4385,49.0,12.0,32.0,9,2.0,5.0,4736.0
8,2020-09-30,174,1080,27.0,6.0,47.0,7,1.0,2.0,1344.0
9,2020-10-31,253,772,33.0,34.0,89.0,12,7.0,5.0,1205.0
10,2020-11-30,202,644,35.0,48.0,54.0,13,11.0,3.0,1010.0
11,2020-12-31,354,789,55.0,20.0,38.0,11,13.0,2.0,1282.0
12,2021-01-31,2735,3986,59.0,26.0,31.0,1,15.0,84.0,6937.0
13,2021-02-28,2858,4113,54.0,47.0,13.0,0,14.0,80.0,7179.0
14,2021-03-31,2963,3571,134.0,46.0,29.0,0,6.0,77.0,6826.0
15,2021-04-30,3203,4225,90.0,80.0,63.0,1,58.0,81.0,7801.0
16,2021-05-31,3010,4352,78.0,28.0,9.0,1,13.0,60.0,7551.0
17,2021-06-30,2911,4084,88.0,46.0,23.0,0,18.0,63.0,7233.0
18,2021-07-31,5258,4503,97.0,54.0,25.0,0,11.0,78.0,10026.0
19,2021-08-31,18018,5521,79.0,19.0,31.0,0,11.0,356.0,24035.0
20,2021-09-30,22236,17052,54.0,30.0,11.0,0,14.0,404.0,39801.0
21,2021-10-31,9099,38428,58.0,21.0,5.0,1,15.0,459.0,48086.0
22,2021-11-30,7165,24010,48.0,32.0,20.0,2,59.0,281.0,31617.0
23,2021-12-31,104894,45264,11756.0,10124.0,36.0,549,271.0,1922.0,174816.0
24,2022-01-31,587388,376470,277724.0,56914.0,285.0,17144,11018.0,20850.0,1347793.0
25,2022-02-28,30085,21725,13217.0,4021.0,36.0,1070,1228.0,1055.0,72437.0
26,2022-03-31,33426,20734,12897.0,4135.0,37.0,1128,1035.0,1043.0,74435.0
27,2022-04-30,33829,25260,12556.0,4609.0,46.0,1275,1079.0,1375.0,80029.0
28,2022-05-31,43443,25446,15289.0,4782.0,42.0,1350,1085.0,1182.0,92619.0
29,2022-06-30,42887,29166,10332.0,3070.0,9.0,1222,256.0,992.0,87934.0
30,2022-07-31,38625,21728,10953.0,3707.0,6.0,1489,412.0,1246.0,78166.0
31,2022-08-31,45098,51356,11174.0,4274.0,8.0,2223,594.0,1305.0,116032.0
32,2022-09-30,30062,44155,18000.0,4506.0,2.0,1406,481.0,1039.0,99651.0
33,2022-10-31,20293,34808,9581.0,4024.0,3.0,1218,404.0,938.0,71269.0
34,2022-11-30,25870,37994,20566.0,2921.0,15.0,1379,594.0,1508.0,90847.0
35,2022-12-31,34759,40127,22069.0,3715.0,6.0,1583,352.0,1078.0,103689.0

In [8]:
monthly_cases_df['NSW %'] = (monthly_cases_df['NSW']/monthly_cases_df['Total'])*100
monthly_cases_df['VIC %'] = (monthly_cases_df['VIC']/monthly_cases_df['Total'])*100
monthly_cases_df['QLD %'] = (monthly_cases_df['QLD']/monthly_cases_df['Total'])*100
monthly_cases_df['SA %'] = (monthly_cases_df['SA']/monthly_cases_df['Total'])*100
monthly_cases_df['WA %'] = (monthly_cases_df['WA']/monthly_cases_df['Total'])*100
monthly_cases_df['TAS %'] = (monthly_cases_df['TAS']/monthly_cases_df['Total'])*100
monthly_cases_df['NT %'] = (monthly_cases_df['NT']/monthly_cases_df['Total'])*100
monthly_cases_df['ACT %'] = (monthly_cases_df['ACT']/monthly_cases_df['Total'])*100

monthly_cases_df.head()

,NSW,VIC,QLD,SA,WA,TAS,NT,ACT,Total,NSW %,VIC %,QLD %,SA %,WA %,TAS %,NT %,ACT %
Date,,,,,,,,,,,,,,,,,
2020-01-31,222,619,46.0,31.0,34.0,2,2.0,5.0,961.0,23.100937,64.412071,4.786681,3.225806,3.537981,0.208117,0.208117,0.520291
2020-02-29,185,933,71.0,25.0,14.0,3,6.0,4.0,1241.0,14.907333,75.181305,5.721193,2.014504,1.128122,0.241741,0.483481,0.322321
2020-03-31,2094,1577,764.0,340.0,379.0,74,29.0,83.0,5340.0,39.213483,29.531835,14.307116,6.367041,7.097378,1.385768,0.543071,1.554307
2020-04-30,328,797,103.0,26.0,51.0,79,0.0,7.0,1391.0,23.580158,57.296909,7.404745,1.869159,3.666427,5.679367,0.000000,0.503235
2020-05-31,184,1079,30.0,11.0,68.0,7,2.0,3.0,1384.0,13.294798,77.962428,2.167630,0.794798,4.913295,0.505780,0.144509,0.216763

In [26]:
percent_change_df = monthly_cases_df.diff()

percent_change_df['NSW % variance'] = (percent_change_df['NSW']/percent_change_df['Total'])*100
percent_change_df['VIC % variance'] = (percent_change_df['VIC']/percent_change_df['Total'])*100
percent_change_df['QLD % variance'] = (percent_change_df['QLD']/percent_change_df['Total'])*100
percent_change_df['SA % variance'] = (percent_change_df['SA']/percent_change_df['Total'])*100
percent_change_df['WA % variance'] = (percent_change_df['WA']/percent_change_df['Total'])*100
percent_change_df['TAS % variance'] = (percent_change_df['TAS']/percent_change_df['Total'])*100
percent_change_df['NT % variance'] = (percent_change_df['NT']/percent_change_df['Total'])*100
percent_change_df['ACT % variance'] = (percent_change_df['ACT']/percent_change_df['Total'])*100
percent_change_df['Total Cases']= monthly_cases_df['Total']
percent_change_df['Total % variance']= (percent_change_df.pct_change(fill_method='ffill')['Total Cases'])*100
percent_change_df.rename(columns = {'Total':'Difference in total',
                                   'NSW':'Difference NSW',
                                   'VIC':'Difference VIC',
                                   'QLD':'Difference QLD',
                                   'SA':'Difference SA',
                                   'WA':'Difference WA',
                                   'TAS':'Difference TAS',
                                   'NT':'Difference NT',
                                   'ACT': 'Difference ACT'
                                   }, inplace = True)
percent_change_df.reset_index()

del percent_change_df["NSW %"]
del percent_change_df["VIC %"]
del percent_change_df["QLD %"]
del percent_change_df["SA %"]
del percent_change_df["WA %"]
del percent_change_df["TAS %"]
del percent_change_df["NT %"]
del percent_change_df["ACT %"]

percent_change_df

,Difference NSW,Difference VIC,Difference QLD,Difference SA,Difference WA,Difference TAS,Difference NT,Difference ACT,Difference in total,NSW % variance,VIC % variance,QLD % variance,SA % variance,WA % variance,TAS % variance,NT % variance,ACT % variance,Total Cases,Total % variance
Date,,,,,,,,,,,,,,,,,,,
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,961.0,NaN
2020-02-29,-37.0,314.0,25.0,-6.0,-20.0,1.0,4.0,-1.0,280.0,-13.214286,112.142857,8.928571,-2.142857,-7.142857,0.357143,1.428571,-0.357143,1241.0,29.136316
2020-03-31,1909.0,644.0,693.0,315.0,365.0,71.0,23.0,79.0,4099.0,46.572335,15.711149,16.906563,7.684801,8.904611,1.732130,0.561112,1.927299,5340.0,330.298147
2020-04-30,-1766.0,-780.0,-661.0,-314.0,-328.0,5.0,-29.0,-76.0,-3949.0,44.720182,19.751836,16.738415,7.951380,8.305900,-0.126614,0.734363,1.924538,1391.0,-73.951311
2020-05-31,-144.0,282.0,-73.0,-15.0,17.0,-72.0,2.0,-4.0,-7.0,2057.142857,-4028.571429,1042.857143,214.285714,-242.857143,1028.571429,-28.571429,57.142857,1384.0,-0.503235
2020-06-30,21.0,116.0,-6.0,-2.0,-46.0,-4.0,-1.0,-3.0,75.0,28.000000,154.666667,-8.000000,-2.666667,-61.333333,-5.333333,-1.333333,-4.000000,1459.0,5.419075
2020-07-31,173.0,6768.0,9.0,7.0,11.0,10.0,0.0,2.0,6980.0,2.478510,96.962751,0.128940,0.100287,0.157593,0.143266,0.000000,0.028653,8439.0,478.409870
2020-08-31,-136.0,-3578.0,16.0,-4.0,-1.0,-4.0,1.0,3.0,-3703.0,3.672698,96.624359,-0.432082,0.108021,0.027005,0.108021,-0.027005,-0.081015,4736.0,-43.879607
2020-09-30,-68.0,-3305.0,-22.0,-6.0,15.0,-2.0,-1.0,-3.0,-3392.0,2.004717,97.435142,0.648585,0.176887,-0.442217,0.058962,0.029481,0.088443,1344.0,-71.621622
2020-10-31,79.0,-308.0,6.0,28.0,42.0,5.0,6.0,3.0,-139.0,-56.834532,221.582734,-4.316547,-20.143885,-30.215827,-3.597122,-4.316547,-2.158273,1205.0,-10.342262
2020-11-30,-51.0,-128.0,2.0,14.0,-35.0,1.0,4.0,-2.0,-195.0,26.153846,65.641026,-1.025641,-7.179487,17.948718,-0.512821,-2.051282,1.025641,1010.0,-16.182573
2020-12-31,152.0,145.0,20.0,-28.0,-16.0,-2.0,2.0,-1.0,272.0,55.882353,53.308824,7.352941,-10.294118,-5.882353,-0.735294,0.735294,-0.367647,1282.0,26.930693
2021-01-31,2381.0,3197.0,4.0,6.0,-7.0,-10.0,2.0,82.0,5655.0,42.104332,56.534041,0.070734,0.106101,-0.123784,-0.176835,0.035367,1.450044,6937.0,441.107644
2021-02-28,123.0,127.0,-5.0,21.0,-18.0,-1.0,-1.0,-4.0,242.0,50.826446,52.479339,-2.066116,8.677686,-7.438017,-0.413223,-0.413223,-1.652893,7179.0,3.488540
2021-03-31,105.0,-542.0,80.0,-1.0,16.0,0.0,-8.0,-3.0,-353.0,-29.745042,153.541076,-22.662890,0.283286,-4.532578,-0.000000,2.266289,0.849858,6826.0,-4.917119
2021-04-30,240.0,654.0,-44.0,34.0,34.0,1.0,52.0,4.0,975.0,24.615385,67.076923,-4.512821,3.487179,3.487179,0.102564,5.333333,0.410256,7801.0,14.283621
2021-05-31,-193.0,127.0,-12.0,-52.0,-54.0,0.0,-45.0,-21.0,-250.0,77.200000,-50.800000,4.800000,20.800000,21.600000,-0.000000,18.000000,8.400000,7551.0,-3.204717
2021-06-30,-99.0,-268.0,10.0,18.0,14.0,-1.0,5.0,3.0,-318.0,31.132075,84.276730,-3.144654,-5.660377,-4.402516,0.314465,-1.572327,-0.943396,7233.0,-4.211363
2021-07-31,2347.0,419.0,9.0,8.0,2.0,0.0,-7.0,15.0,2793.0,84.031507,15.001790,0.322234,0.286430,0.071608,0.000000,-0.250627,0.537057,10026.0,38.614683
2021-08-31,12760.0,1018.0,-18.0,-35.0,6.0,0.0,0.0,278.0,14009.0,91.084303,7.266757,-0.128489,-0.249839,0.042830,0.000000,0.000000,1.984439,24035.0,139.726711
2021-09-30,4218.0,11531.0,-25.0,11.0,-20.0,0.0,3.0,48.0,15766.0,26.753774,73.138399,-0.158569,0.069770,-0.126855,0.000000,0.019028,0.304453,39801.0,65.596006
2021-10-31,-13137.0,21376.0,4.0,-9.0,-6.0,1.0,1.0,55.0,8285.0,-158.563669,258.008449,0.048280,-0.108630,-0.072420,0.012070,0.012070,0.663850,48086.0,20.816060
2021-11-30,-1934.0,-14418.0,-10.0,11.0,15.0,1.0,44.0,-178.0,-16469.0,11.743275,87.546299,0.060720,-0.066792,-0.091080,-0.006072,-0.267169,1.080819,31617.0,-34.249054
2021-12-31,97729.0,21254.0,11708.0,10092.0,16.0,547.0,212.0,1641.0,143199.0,68.246985,14.842282,8.176035,7.047535,0.011173,0.381986,0.148046,1.145958,174816.0,452.917734
2022-01-31,482494.0,331206.0,265968.0,46790.0,249.0,16595.0,10747.0,18928.0,1172977.0,41.134140,28.236359,22.674613,3.988996,0.021228,1.414776,0.916216,1.613672,1347793.0,670.978057
2022-02-28,-557303.0,-354745.0,-264507.0,-52893.0,-249.0,-16074.0,-9790.0,-19795.0,-1275356.0,43.697838,27.815371,20.739856,4.147313,0.019524,1.260354,0.767629,1.552116,72437.0,-94.625510
2022-03-31,3341.0,-991.0,-320.0,114.0,1.0,58.0,-193.0,-12.0,1998.0,167.217217,-49.599600,-16.016016,5.705706,0.050050,2.902903,-9.659660,-0.600601,74435.0,2.758259
2022-04-30,403.0,4526.0,-341.0,474.0,9.0,147.0,44.0,332.0,5594.0,7.204147,80.908116,-6.095817,8.473364,0.160887,2.627816,0.786557,5.934930,80029.0,7.515282
2022-05-31,9614.0,186.0,2733.0,173.0,-4.0,75.0,6.0,-193.0,12590.0,76.362192,1.477363,21.707705,1.374106,-0.031771,0.595711,0.047657,-1.532963,92619.0,15.731797
2022-06-30,-556.0,3720.0,-4957.0,-1712.0,-33.0,-128.0,-829.0,-190.0,-4685.0,11.867663,-79.402348,105.805763,36.542156,0.704376,2.732124,17.694771,4.055496,87934.0,-5.058357
2022-07-31,-4262.0,-7438.0,621.0,637.0,-3.0,267.0,156.0,254.0,-9768.0,43.632269,76.146601,-6.357494,-6.521294,0.030713,-2.733415,-1.597052,-2.600328,78166.0,-11.108331
2022-08-31,6473.0,29628.0,221.0,567.0,2.0,734.0,182.0,59.0,37866.0,17.094491,78.244335,0.583637,1.497386,0.005282,1.938414,0.480642,0.155813,116032.0,48.443057
2022-09-30,-15036.0,-7201.0,6826.0,232.0,-6.0,-817.0,-113.0,-266.0,-16381.0,91.789268,43.959465,-41.670228,-1.416275,0.036628,4.987486,0.689824,1.623832,99651.0,-14.117657
2022-10-31,-9769.0,-9347.0,-8419.0,-482.0,1.0,-188.0,-77.0,-101.0,-28382.0,34.419703,32.932845,29.663167,1.698259,-0.003523,0.662392,0.271299,0.355859,71269.0,-28.481400
2022-11-30,5577.0,3186.0,10985.0,-1103.0,12.0,161.0,190.0,570.0,19578.0,28.486056,16.273368,56.108898,-5.633875,0.061293,0.822352,0.970477,2.911431,90847.0,27.470569
2022-12-31,8889.0,2133.0,1503.0,794.0,-9.0,204.0,-242.0,-430.0,12842.0,69.218190,16.609562,11.703784,6.182838,-0.070083,1.588538,-1.884442,-3.348388,103689.0,14.135855